@{
    Layout = null; 
}
@using System.Web.Mvc.Html
@using Nop.Plugin.Other.NopCommerceC5Connector.Models
@using Nop.Web.Framework

@model NopCommerceC5ConnectorSettingsModel
<div>
    @using (Html.BeginRouteForm("Nop.Plugin.Other.NopCommerceC5Connector.Configure", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $("#@Html.FieldIdFor(model => model.AutoSync)").click(toggleAutoSync);

                toggleAutoSync();
            });

            function toggleAutoSync() {
                if ($('#@Html.FieldIdFor(model => model.AutoSync)').is(':checked')) {
                    $('#pnlAutoSyncEachMinutes').show();
                }
                else {
                    $('#pnlAutoSyncEachMinutes').hide();
                }
            }

        </script>
    
        <table class="adminContent">
           
            @if (!String.IsNullOrEmpty(Model.SaveResult))
            {
                <tr>
                    <td colspan="2" width="100%" style="color: red">
                        @Model.SaveResult
                    </td>
                </tr>
            }

            <tr>
                <td colspan="2" width="100%">
                    @Html.DropDownListFor(model => model.ImportType, new SelectList(Enum.GetValues(typeof(Nop.Plugin.Other.NopCommerceC5Connector.Utility.Utility.ImportType))))
                </td>
            </tr>

            <tr>
                <td colspan="2" width="100%">
                    <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <hr />
                    <b>@T("Plugin.Misc.MailChimp.ManualSync.Hint")</b>
                </td>
            </tr>
            @if (!String.IsNullOrEmpty(Model.SyncResult))
            {
                <tr>
                    <td colspan="2" width="100%" style="color: red">
                        @Html.Raw(Model.SyncResult)
                    </td>
                </tr>
            }

             <tr>
                    <td colspan="2" width="100%" style="color: red">
            <input type="file" name="file" id="file" />
                         </td>
                </tr>
            <tr>
                <td colspan="2" width="100%">
                    <input type="submit" name="sync" class="t-button" value="@T("Plugin.Misc.MailChimp.ManualSync")" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <hr />
                    <b>@T("Plugin.Misc.MailChimp.QueueAll.Hint")</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <input type="submit" name="queueall" class="t-button" value="@T("Plugin.Misc.MailChimp.QueueAll")" />
                </td>
            </tr>
        </table>
    }
</div>
